body {
  background-color: #4ecbed;
  padding-top: 3%;
  width: 60%;
  margin: auto;
}

.box-shadow {
  background-color: #4eb6ed;
  border: 1px;
  border-radius: 25px;
  box-shadow: -5px 5px #273136;
}

.box {
  width: 100%;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.photo {
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 1000px;
  display: block;
}

.icon {
  position: relative;
  display: inline-block;
  height: 200%;
  max-height: 100%;
  width: 15%;
  min-width: 150px;
  margin-left: 5%;
  margin-right: 3%;
  float: left;
  text-align: center;
}

.description {
  padding: 1%;
  height: 100%;
  width: 70%;
  min-width: 502px;
  float: left;
  text-align: center;
}

.icon > i {
  transform-origin: 56px 56px;
  font-size: 112px;
  color: #02080f;
  margin-left: 1.5%;
  animation: lauch-rotating 2s linear;
  position: relative;
  top: 10%;
  transform: rotate(-20deg);
}

.icon > i:before,
.icon > i:after {
  animation-play-state: paused !important;
}

@keyframes lauch-rotating {
  0% {
    transform: rotate(0deg));
    top: 10%;
  }
  50% {
    transform: rotate(180deg);
    top: -100%;
  }
  100% {
    transform: rotate(340deg);
    top: 10%;
  }
}

.description > h1 {
  color: #1f5491;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.description > p {
  color: #153357;
  font-size: 1.3em;
  text-align: center;
  padding-top: 2%;
}

.profile > .photo
{
  margin-bottom: 0px;
}

.profile > .description
{
  width: 100%;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  padding-top: 0px;
  margin-top: 0px;
}

